name: Deploy

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Java CI with Gradle"]
    types:
      - completed

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    environment:
      name: ULU
    
    steps:
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: install ssh keys
      run: |
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
    - name: deploy
      run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd /home/ulu/ULU/ua-backend && git checkout main && git pull && /home/ulu/.sdkman/candidates/gradle/current/bin/gradle build && sudo systemctl restart ua-backend.service && exit"
    - name: cleanup
      run: rm -rf ~/.ssh
