name: Deploy

on:
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Java CI with Gradle"]
    types:
      - completed

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    
    steps:
    - name: install ssh keys
      run: |
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SSH_HOST }} > ~/.ssh/known_hosts
    - name: connect
      run: ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} "cd ${{ secrets.WORK_DIR }}"
    - name: update
      run: git checkout main && git pull && exit
    - name: build
      run: ./gradlew build
    - name: restart prod
      run: sudo systemctl restart ua-backend.service
    - name: cleanup
      run: rm -rf ~/.ssh
